@page
@model IndexModel
@{
    ViewData["Title"] = "Sistema de Cotizaciones";
}

<div class="text-center">
    <h1>Sistema de Cotizaciones</h1>
</div>

<br/>

<div>
    <b><p id="precio"></p></b>
    <script>
        //COLECTAR LA FECHA
        var fecha = new Date();
        var dia = fecha.getDate();
        var mes = fecha.getMonth() + 1;
        var anio = fecha.getFullYear();

        if (dia < 10) dia = '0' + dia;
        if (mes < 10) mes = '0' + mes;

        //CONSUMO DE API PARA PRECIO DEL DOLAR
        var api_url = 'https://api.exchangerate-api.com/v4/latest/USD'
        fetch(api_url)
            .then(response => response.json())
            .then(data => {
                var precio = data.rates.MXN;
                document.getElementById('precio').innerHTML = "Cambio USD-MXN al dia (" + dia + "/" + mes + "/" + anio + ") es: $" + precio + " mxn";
            })
            .catch(error => console.error('Error: ', error));
    </script>
</div>

<div class="d-flex justify-content-center">

    <table width="100%">

        <tr>
            <td>
                <div class="card" style="padding: 10px; border-radius: 10px; margin-top: 10px; border: 1px solid #6c757d;">
                    <div class="card-header bg-secondary text-white" style="border-radius: 5px;">
                        Nueva Cotización
                    </div>
                    <label for="tipo-producto" class="form-label">Product Type</label>
                    <select name="tipo-producto" id="tipo-producto" class="form-select">
                        <option value="bobina">Bobina</option>
                        <option value="bolsa_sello_aleta">Bolsa Sello Aleta</option>
                        <option value="bolsa_stand_up_pouch">Bolsa Stand Up Pouch</option>
                        <option value="bolsa_pouch">Bolsa Pouch</option>
                        <option value="manga_termoencogible">Manga Termoencogible</option>
                    </select>
                    <br/>

                    <label for="cantidad-producto" class="form-label">Product Quantity </label>
                    <div style="width: 100%; justify-content: center;" class="form-inline">
                        <input type="number" name="cantidad" class="form-control mr-2" style="width: 79%;" id="cantidad-producto">
                        <select name="cantidad-producto" id="cantidad-producto" class="form-select" style="width: 19%;">
                            <option value="pieza">Piezas</option>
                            <option value="kilogramo">Kilogramos</option>
                        </select>
                    </div>
                    
                    <div class="card" style="padding: 10px; border-radius: 10px; margin-top: 10px; border: 1px solid #6c757d;">
                        <div class="card-header bg-secondary text-white" style="border-radius: 5px;">
                            Medidas del producto
                        </div>
                        <label for="width" class="form-label">Width (Rep) | Ancho (cm)</label>
                        <input type="number" name="cm_width" class="form-control mr-2">
                        <br/>
                        <label for="heigth" class="form-label">Heigth (Roll Width) | Alto (cm)</label>
                        <input type="number" name="cm_heigth" class="form-control mr-2">
                        <br/>
                        <label for="bg" class="form-label">Bottom Gusset | Fuelle Inferior (cm)</label>
                        <input type="number" name="cm_bg" class="form-control mr-2">
                    </div>
                    
                    <div class="card" style="padding: 10px; border-radius: 10px; margin-top: 10px; border: 1px solid #6c757d;">
                        <div class="card-header bg-secondary text-white" style="border-radius: 5px;">
                            Especificaciones
                        </div>
                        <label for="repetitions" class="form-label">Repetitions | Repeticiones </label>
                        <input type="number" name="cnt_rep" class="form-control mr-2">
                        <br/>

                        <label for="laminated" class="form-label">Laminated | Laminado</label>
                        <select name="laminated" id="laminated" class="form-select">
                            <option value="positive">Si</option>
                            <option value="negative">No</option>
                        </select>

                        <br/>
                        <label for="width" class="form-label">Film Roll Width | Ancho del Rollo de Película</label>
                        <input type="number" name="cm_bg" readonly class="form-control mr-2">
                    </div>

                    <div class="card" style="padding: 10px; border-radius: 10px; margin-top: 10px; border: 1px solid #6c757d;">
                        <div class="card-header bg-secondary text-white" style="border-radius: 5px;">
                            Estructura del Producto
                        </div>
                        <table id="tablaPeliculas" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Structure</th>
                                    <th>Type</th>
                                    <th>Color</th>
                                    <th>Gauge µm</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr></tr>
                            </tbody>
                        </table>

                        <div style="width: 100%; display: flex; justify-content: space-around;">
                            <button onclick="agregarFila()" class="btn btn-secondary">Add Film</button>
                            <button onclick="quitarFila()" class="btn btn-secondary">Remove Film</button>
                        </div>

                        <script type="C:/Users/octavior/source/repos/WebApplication1/WebApplication1/wwwroot/js/site.js"></script> 
                        
                        <label for="clousure" class="form-label" style="margin-top: 10px;">Clousure | Cierre</label>
                        <select name="clousure" id="closure" class="form-select">
                            <option value="positive">Zipper</option>
                            <option value="negative">Child Resistant</option>
                        </select>
                        
                        <label for="inks" class="form-label" style="margin-top: 10px;">Inks | Tintas</label>
                        <select name="laminated" id="laminated" class="form-select">
                            <option value="op1">1</option>
                            <option value="op2">2</option>
                            <option value="op3">3</option>
                            <option value="op4">4</option>
                            <option value="op5">5</option>
                            <option value="op6">6</option>
                            <option value="op7">7</option>
                            <option value="op8">8</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="card" style="padding: 10px; border-radius: 10px; margin-top: 10px; border: 1px solid #6c757d;">
                    <div class="card-header bg-secondary text-white" style="border-radius: 5px;">
                        Maquinaria Disponible
                    </div>
                    <table id="tabla_mangas" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>4040</th>
                                <th>4020</th>
                                <th>Miraflex</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Sleeves</th>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="card" style="padding: 10px; border-radius: 10px; margin-top: 10px; border: 1px solid #6c757d; width: 40%; margin-left: auto; margin-right: auto;">
                    <div class="card-header bg-secondary text-white" style="border-radius: 5px;">
                        Resumen del Producto
                    </div>
                    <table class="table table-striped table-hover">
                        <tr>
                            <td>Type</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Width</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Gusset</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Inks</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Closure</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>

    </table>

</div>